.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
  font-size: inherit;
}

/* CSS w/ R.O.S.S. */

html {
  font-family: Sabon MT Std;
}

nav {
  height: 63px;
  background-color: #0077a5;
}

ul.right.hide-on-med-and-down {
  color: white;
  font-family: Harbour;
}

body h1 {
  font-family: Brothers;
}

body {
  background-color: #e6e6e6;
}

h1 {
  font-family: Harbour;
}

h2 {
  font-family: Brothers;
}

h3 {
  font-family: Klang MT;
}

#statForm {
  text-align: center;
}

.page-footer {
  padding: 1rem;
  height: 10%;
  position: fixed;
  bottom: 0px;
  width: 100%;
  background-color: #0077a5;
}

#logo {
  margin-top: 1px;
  height: 99%;
  width: 90px;
  background: url("../img/tsLogo.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

#copyright {
  position: absolute;
  font-size: 3rem;
}

#copyText {
  font-family: Harbour;
  left: 13%;
  font-size: 1.4rem;
  margin: 10px;
  position: absolute;
}

.copyright {
  position: absolute;
  left: 10%;
}

.collapsible {
  font-size: 19px;
}

#about {
  background: url(https://png.icons8.com/question-mark/win8/28/ffffff);
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  bottom: 20%;
  right: 5%;
  background-color: #4f0909;
}

.btn {
  background-color: #4f0909;
}

.tap-target {
  background-color: #0f345e;
}

.tap-target-wrapper {
  z-index: 0;
}

.tap-target-content {
  text-align: -webkit-center;
  padding: 40px 10px 40px 40px;
}

.collapsible-body {
  text-align: center;
}

.dropdown {
  color: white;
  background-color: #4f0909;
  border-radius: 10px;
  text-align-last: center;
  font-size: larger;
  vertical-align: top;
  border-width: 2px;
}

#search {
  z-index: 0;
}
#tab1 {
  background-color: #4f0909;
}
#swipe-1{
  background-color: #4f0909;
  color: white;
}

#tab2 {
  background-color: #0f345e;
}
#swipe-2{
  background-color: #0f345e;
  color: white;
}

#tab3 {
  background-color: #53b68c;
}
#swipe-3{
  background-color: #53b68c;
  color: white;
}

.tabs {
  font-family: Klang MT;
}
.carousel .carousel-item{
  width:100%;
  padding: 10px;
  font-size: -webkit-xxx-large;
}
