.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
  font-size: inherit;
}

/* CSS w/ R.O.S.S. */

@font-face {
  font-family: 'Harbour';
  src: url('../fonts/custom/HarbourMedium.ttf')format('truetype');
}
@font-face {
  font-family: 'Brothers';
  src: url('../fonts/custom/Brothers-Bold.ttf')format('truetype');
}
@font-face {
  font-family: 'Klang MT';
  src: url('../fonts/custom/KlangMT.ttf')format('truetype');
}
@font-face {
  font-family: 'Sabon MT Std';
  src: url('../fonts/custom/SabonMTStd-Regular.otf')format('truetype');
}

html {
  font-family: Sabon MT Std;
}

nav {
  height: 63px;
  background-color: #0077a5;
}

ul.right.hide-on-med-and-down {
  color: white;
  padding: 15px 0px;
  font-family: Harbour;
}

#logWeb {
  padding: 0;
}
#signWeb {
  padding: 0;
}
#favoritesWeb {
  padding: 0;
}
#logoutWeb {
  padding: 0;
}

#closeModal{
  color: #4f0909;
}

body h1 {
  font-family: Brothers;
}

body {
  background-color: #e6e6e6;
  padding-bottom: 10%;
}

h1 {
  font-family: Harbour;
}

h2 {
  font-family: Brothers;
}

h3 {
  font-family: Klang MT;
}
h5 {
  font-weight: bold;
  font-size: 1.4rem;
}

#statForm {
  text-align: center;
}

.page-footer {
  padding: 1rem;
  height: 10%;
  position: fixed;
  bottom: 0px;
  width: 100%;
  background-color: #0077a5;
}

#logo {
  margin-top: 1px;
  height: 99%;
  width: 90px;
  background: url("../img/tsLogo.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

#copyright {
  position: absolute;
  font-size: 3rem;
}

#copyText {
  font-family: Harbour;
  left: 60px;
  font-size: 1.4rem;
  margin: 10px;
  position: absolute;
}

.copyright {
  position: absolute;
  left: 10%;
}

.collapsible {
  font-size: 19px;
}

#about {
  background: url(https://png.icons8.com/question-mark/win8/28/ffffff);
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  bottom: 20%;
  right: 5%;
  background-color: #4f0909;
}

.btn {
  background-color: #4f0909;
}

.tap-target {
  background-color: #0f345e;
}

.tap-target-wrapper {
  z-index: 0;
}

.tap-target-content {
  text-align: -webkit-center;
  padding: 40px;
}
@media only screen and (min-width: 600px){
  .tap-target-content {
    padding: 40px 0px 40px 80px;
  }
}

.collapsible-body {
  text-align: center;
}

.dropdown {
  color: white;
  background-color: #4f0909;
  border-radius: 10px;
  text-align-last: center;
  font-size: larger;
  vertical-align: top;
  border-width: 2px;
}

#search {
  z-index: 0;
}
#results {
  padding: 2%;
}
#tab1 {
  background-color: #4f0909;
}
#swipe-1{
  background-color: #4f0909;
  color: white;
}

#tab2 {
  background-color: #0f345e;
}
#swipe-2{
  background-color: #0f345e;
  color: white;
}

#tab3 {
  background-color: #53b68c;
}
#swipe-3{
  background-color: #53b68c;
  color: white;
}

.tabs {
  font-family: Klang MT;
  border-radius: 10px 10px 0px 0px;
}
.tabs-content {
  border-radius: 0px 0px 10px 10px;
}
.carousel .carousel-item{
  width:100%;
  padding: 10px;
  font-size: medium;
}

.teamMem {
  margin:5px;
  text-align: left;
  font-size: 1.7rem;
  padding-left: 50px;
}

/*favorites SVG animation*/
#svgBall {
  width: 100%;
  height: 110px;
  padding: 0%;
}
#ball {
  height: 100px;
  stroke: black;
  stroke-width: 5;
  position: absolute;
  right: 2%;
  color: transparent;
}

@keyframes fade1 {
    0%     { color: transparent; }
    50%    { color: rgba(255, 165, 0, 0.5); }
    100%   { color: orange; }
}
@keyframes fade2 {
    0%     { color: orange; }
    50%    { color: rgba(255, 165, 0, 0.5); }
    100%   { color: transparent; }
}
