.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
  font-size: inherit;
}

nav {
  height: 90px;
  background-color: #668D3C;
}
#modal5 {
  color: #668D3C;
  text-align: center;
}

@media only screen and (min-width: 600px){
  .tap-target-content {
    padding: 40px 0px 40px 80px;
  }
}
